@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #0C0C0C;
  --foreground: #131313;
  --border: #333333;
  --primary-text: #FFFFFF;
  --secondary-text: #727272;
  --primary-blue: #3BBEFF;
  --primary-orange: #FF9500;
  --primary-btn-hover: #E4E4E4;
  --primary-btn-disable: #A5A5A5;
  --primary-nav-hover: rgba(114, 114, 114, 16%);
  --light-secondary: #1E1E1E;
}


body {
  color: var(--foreground);
  background: var(--background);
  font-family: "Montserrat", serif;
}

.scrollbar-hidden::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
}

.scrollbar-hidden {
  -ms-overflow-style: none;  /* Internet Explorer */
  scrollbar-width: none;     /* Firefox */
}


/* width */
::-webkit-scrollbar {
  width: 8px;
  transition: all ease-out 0.5s;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--foreground);
  border-radius: 100px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--background);
  border-radius: 100px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background-color: var(--secondary-text);
}

/* Handle on hover */
::-webkit-scrollbar-track:hover {
  background-color: var(--light-secondary);
}
